body {
	font-family: verdana, arial, sans-serif;
	font-size: 9pt;
}

h1 { 
	color: #990000;
	font-size: 1.5em;
  border-left: 25px solid #cc0000;
	border-bottom: 2px solid #cc0000;
	padding: 0 0 2px 5px;
}

h2 { 
	color: #990000;    
	font-size: 1.3em;
	margin: 1ex 0; 
}

h3 { 
	color: #006699;    
	font-size: 1.2em;
	margin: 1ex 0; 
  border-left: 10px solid #fea540;
	padding: 0 0 2px 5px;
}


pre {
	text-align: left;
	background-color: #fff;
	border-left: 1px solid #aaa;
	padding: 5px;
}
